body {
    background-color: palegoldenrod;
    color: maroon;
    font-size: 18px;
    font-family: courier;
    text-align: center

}

p {
    font-style: italic;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;
    line-height: 1.5;
    text-align: center;
}

a {
    color: blue;
}

h1 {
    background-color: darkkhaki;
    font-family: "Gotham Medium";
    font-variant: small-caps;

    margin: 10px;
    padding: 20px;

    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 3px;
    border-color: olive
}

h2 {
    background-color: khaki;
    font-family: "Gotham Medium";
    text-decoration: underline;

    margin: 10px;
    padding: 20px;

    border-style: solid;
    border-width: 2px;
    border-left-width: 10px;
    border-right-width: 2px;
    border-color: olive
}

img {
    border-style: dashed;
    border-width: 5px;
    border-color: green;
}

li {
    color: #900;
    font-style: normal;
}

