body {
    background-color: floralwhite;
    color: darkslateblue;
    font-size: 8px;
    font-family: playfair display;
    text-align: center

}

p {
    font-style: italic;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;
    line-height: 1.5;
    text-align: center;
}

a {
    color: blue;
}

h1 {
    background-color: cornsilk;
    font-family: "Playfair Display";
    font-variant: small-caps;

    margin: 10px;
    padding: 20px;

    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 3px;
    #border-color: olive
}

h2 {
    background-color: cornsilk;
    font-family: "Playfair Display";
    font-variant: small-caps;

    margin: 10px;
    padding: 20px;
}

img {
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

li {
    color: #900;
    font-style: normal;
}

